form {
    height: 520px;
    width: 400px;
    background-color: rgb(108, 185, 85);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 2px solid rgba(143, 10, 10, 0.1);
    box-shadow: 0 0 40px rgb(37, 15, 206);
    padding: 50px 35px;
}
form * {
    font-family: "Poppins", sans-serif;
    color: #000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
@media (prefers-color-scheme: dark){
    form * {
        color: #ffffff;
    }
}
form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.17);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder {
    color: #1b1b1b;
}
@media (prefers-color-scheme: dark){
    ::placeholder {
        color: #e5e5e5;
    }
}
button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
a:link {
    text-decoration: none;
    font-size: 1.5rem;
}