body {
    background: #f2f2f2;
}

.text-center {
    text-align: center;
}


.pull-right {
    float: right;
}

a {
    color: #00A885;
}

a:hover,
a:focus {
    color: #f02d0a;
    transition:  1s linear;
}


button {
    cursor: pointer;
    background: #00A885;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #fff;
    font-size: 20px;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}



.input-group {
    position: relative;
    margin-bottom: 20px;
}



.input-group input {
    outline: none;
    display: block;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 3;
    border: 1px solid #d9d9d9;
    padding: 10px 10px;
    background: #ffffff;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}


.wrapper {
    width: 320px;
    background: #fff;
    margin: 20px auto;
    min-height: 200px;
    border: 1px solid #f3eaea;
    position: relative;
}

.wrapper .inner-warpper {
    padding: 50px 30px 60px;
    box-shadow: 1px 1.732px 10px 0px rgba(0, 0, 0, 0.063);
}

.wrapper .title {
    margin-top: 0;
}

